@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{

    .monFlex-Row{
        @apply flex flex-row justify-between items-center;
    }

    .monFlex-Col{
        @apply flex flex-col justify-between items-center;
    }

    button{
        @apply  hover:text-zinc-800 text-gray-200 w-24 py-2 bg-zinc-800 hover:bg-gray-200 hover:shadow-lg rounded-xl;
    }

    .monSplitter{
        @apply my-4 w-[80%] h-1 bg-purple-600 bg-gradient-to-l from-yellow-600 m-auto rounded-full;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.background-animate {
    background-size: 400%;
    -webkit-animation: Defiler 20s linear infinite;
    -moz-animation: Defiler 20s linear infinite;
    animation: Defiler 20s linear infinite;
}

@keyframes Defiler {
    0%,
    100% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
}

.hiddenDrop {
    transition: all 0.7s;
    filter: blur(5px);
    transform: translateY(-50%);
  }
  
.showDrop {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}


